body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 540px;
    background-color: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    font: normal 14px/1.5 tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* goback */

.goback {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 38px;
    height: 38px;
    border: solid 1px #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.goback svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 25px;
    height: 25px;
    fill: #ccc;
}

.goback:hover {
    background-color: #ccc;
}

.goback:hover svg {
    fill: #fff;
}


/* search start */

.search-index {
    position: fixed;
    display: flex;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* 固定的盒子应该有宽度 */
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    background-color: #f6f6f6;
    z-index: 999;
}

.search {
    position: relative;
    height: 26px;
    margin: 6px 10px;
    border: solid 1px #ccc;
    padding-left: 25px;
    flex: 1;
    border-radius: 5px;
    font-size: 12px;
    /* 因为盒模型是border-box, 要减去边框2px */
    line-height: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.search::before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
    /* margin: 5px; */
    background: url(../images/un_ico_home_v620.png) no-repeat -59px -279px;
    background-size: 104px auto;
}

.user {
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 12px;
    color: #2eaae0;
}

.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/un_ico_home_v620.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 3px auto -2px;
}

.focus {
    position: relative;
    padding-top: 44px;
    overflow: hidden;
}

.focus img {
    width: 100%;
}

.focus ul {
    width: 500%;
    /* 清除浮动 */
    overflow: hidden;
    /* 显示第二张图片 */
    margin-left: -100%;
}

.focus ul li {
    float: left;
    width: 20%;
}

.focus ol {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
}

.focus ol li {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
    list-style: none;
    transition: all .3s;
}

.focus ol li.current {
    width: 15px;
}

.local-nav {
    display: flex;
    height: 64px;
    margin: 3px 4px;
    border-radius: 8px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url(../images/home-fivemain-sprite2x@v7.15.png) no-repeat 0 0;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon-2 {
    background: url(../images/home-fivemain-sprite2x@v7.15.png) no-repeat 0 -32px;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon-3 {
    background: url(../images/home-fivemain-sprite2x@v7.15.png) no-repeat 0 -64px;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon-4 {
    background: url(../images/home-fivemain-sprite2x@v7.15.png) no-repeat 0 -96px;
    background-size: 32px auto;
}

.local-nav li .local-nav-icon-5 {
    background: url(../images/home-fivemain-sprite2x@v7.15.png) no-repeat 0 -128px;
    background-size: 32px auto;
}


/* nav */

nav {
    margin: 0 4px 3px;
    border-radius: 8px;
    overflow: hidden;
}

.nav-common {
    display: flex;
    height: 88px;
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5a55, #fa994d)
}

.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4b90ed, #53bced)
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34c2a9, #6cd559)
}

.nav-items {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* 选择前面两个元素 */

.nav-items:nth-child(-n+2) {
    border-right: solid 1px #fff;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/grid-nav-items-hotel@v7.15.png) no-repeat bottom center;
    background-size: 121px auto;
}

.nav-items a:nth-child(1) {
    border-bottom: solid 1px #fff;
}

.subnav-entry {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    border-radius: 8px;
    margin: 4px 0;
}

.subnav-entry li {
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav-entry-icon {
    width: 28px;
    height: 28px;
    background-color: pink;
    margin-top: 4px;
    background: url(../images/un_ico_subnav2x@v7.152.png) no-repeat 0 0;
    background-size: 28px auto;
}

.sales-box {
    margin: 4px;
    border-top: solid 1px #eee;
    background-color: #fff;
}

.sales-box-hd {
    position: relative;
    border-bottom: solid 1px #eee;
}

.sales-box-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-box-hd h2::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 10px;
    width: 79px;
    height: 15px;
    background: url(../images/un_home_text.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    right: 5px;
    top: 0;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 8px;
    color: #fff;
}

.more::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
    border-bottom: solid 1px #eee;
}

.row:nth-last-child(1) {
    border: 0;
}

.row a {
    flex: 1;
}

.row a:nth-child(1) {
    border-right: solid 1px #eee;
}

.row a img {
    width: 100%;
}

footer {
    display: block;
}

.tool-box {
    margin: 4px;
    text-align: center;
}

.tool-cn {
    display: flex;
    margin-bottom: 5px;
    border-top: solid 1px #dbdbdb;
    border-bottom: solid 1px #dbdbdb;
    background-color: #fff;
}

.tool-cn a {
    flex: 1;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    color: #333;
    font-size: 12px;
}

.tool-cn svg {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    fill: #999;
}

.tool-ver {
    font-size: 12px;
    color: #999;
}

.tool-ver a {
    padding: 0;
    font-size: 12px;
    color: #666;
}

.tool-ver .icon-global {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/un_icon_sites.png) no-repeat 0 -160px;
    background-size: 30px auto;
    vertical-align: middle;
}

.tool-ver .trangle {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 3px;
    border-bottom: solid 1px #666;
    border-right: solid 1px #666;
    transform: rotate(45deg);
    vertical-align: 2px;
}

.tool-box p {
    margin: 0;
    padding: 5px 0;
    color: #999;
    font-size: 12px;
}

.tool-box .link-icp {
    color: #999;
}